/*Header*/
header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }
  
  /*Navigation Bar*/
  nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  nav ul li {
    display:inline-block;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    display:block;
    padding:0 10px;
    color:#fff;
    font-size:20px;
    line-height:60px;
    text-decoration:none;
  }
  
  /*Main Content*/
  main {
    padding: 20px;
    text-align: center;
  }
  
  /*Footer*/
  footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
/*Form*/
form {
    text-align: left;
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
  }
  
  /*Form Labels*/
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  /*Form Inputs*/
  input[type="text"],
  input[type="radio"],
  input[type="checkbox"] {
    padding: 10px;
    margin: 10px 0;
  }
  
  /*Form Submit Button*/
  input[type="submit"] {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
    
  